    <div class="container">
      <h1 *ngIf="!update">Add Todo</h1>
      <h1 *ngIf="update">Update Todo</h1>
      <form [formGroup]="addForm">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter Title" formControlName="title">
            <span *ngIf="addForm.controls.title.invalid && addForm.controls.title.touched" style="color:red">*required
              field</span>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Enter Description" formControlName="description">
            <span *ngIf="addForm.controls.description.invalid && addForm.controls.description.touched"
              style="color:red">*required field</span>
          </mat-form-field>
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="addForm" [rangePicker]="picker" min="{{getDate(date)}}">
            <input matStartDate formControlName="startdate" placeholder="Start date">
            <span *ngIf="addForm.controls.startdate.invalid && addForm.controls.startdate.touched"
              style="color:red">*required field</span>
            <input matEndDate formControlName="enddate" placeholder="End date">
            <span *ngIf="addForm.controls.enddate.invalid && addForm.controls.enddate.touched"
              style="color:red">*required field</span>
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let value of input" [value]="value.id">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button *ngIf="!update" (click)="addTodo(addForm.value)" class="btn btn-primary">Add Todo</button>
          <button *ngIf="update" routerLink="" (click)="updateTodo(addForm.value)" [disabled]="addForm.invalid"
            class="btn btn-primary">Update Todo</button>
          <button routerLink="" style="margin: 10px;" class="btn btn-primary">Cancel</button>
        </div>
      </form>
    </div>