        table {
            border-collapse: collapse;
            width: 100%;        
        }

        td,
        th {
            border: 2px solid;
            text-align: center;
        }

        button {
            text-align: center;
            margin: auto;
            display: flex;
            display: grid;
            
        }

        .mat-elevation-z8{
            background-color:  rgb(148, 219, 242);

        }
        
        .btn{
            margin-bottom: 15px;
        }
    